@use "./colors.scss";
@use "./fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: colors.$background-color;
  font-family: fonts.$secondary-font;
}

a {
  color: inherit;
  text-decoration: none;
}
